.container-body {
    display: flex;
}
.side-bar {
    width: 25%;
    height: 100%; 
    min-height: 40rem; 
    padding: 1rem;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
}

.card .card-header {
    color: white;
    text-align: center;
}

.bg-define-1st {
    background-color: #29B6F6;
}

.bg-define-2nd {
    background-color: #00695C;
}
